body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    background-image: url('https://images.unsplash.com/photo-1597597809375-98c92819813a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #ff6347;
    font-size: 3em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.5em;
    color: #2f4f4f;
}